.main {
  margin-top: -40vh;
}

/* Media Queries */


@media (min-width: 920px) {

  .card-left {
    float: left;
    margin-right: 20px;
  }

  .card-right {
    float: right;
    margin-left: 20px;
  }

  .header .mdl-layout-title {
    margin-left: 0px;
  }

  .container {
    min-width: 1000px;
  }
}

@media (min-width: 1025px) {

  .card-left {
    float: left;
    margin-right: 20px;
  }

  .card-right {
    float: right;
    margin-left: 20px;
  }

  .container {
    min-width: 1155px;
  }
}

@media (min-width: 1200px) {
  .card-left {
    float: left;
    margin-right: 15px;
  }

  .card-right {
    float: right;
    margin-left: 15px;
  }
}