body {
	font-family: 'Muli', sans-serif;
	margin:0;
	line-height: 3em
}

div {
	display: block;
}

.container {
	width:100%;
	padding: 0;
	margin: 0;
}

.black {
	background-color: #000000;
}

.dark {
	background-color: #22313F;
}

.centered {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ovo', serif;
}

.black h1 {
	color: #FFFFFF;
}

.dark h1 {
	color: #ECECEC;
}

.exclude {
	font-family: sans-serif;
}