body {
	font-family: 'Muli', sans-serif;
	margin:0;
}

div {
	display: block;
}

.text-medium p {
	font-size: 18px;
	line-height: 26.64px;
	max-width:740px;
	margin: 0 15px;
}

.text-large p {
	font-size: 26px;
	line-height: 38.48px;
	max-width:1070px;
	margin: 0 15px;
}

.text-medium .drop-cap::first-letter {
	color: #c69c6d;
	float:left;
	font-size:100px;
	margin: .3em .15em .2em 0;
}

.text-large .drop-cap::first-letter {
	color: #c69c6d;
	float:left;
	font-size:125px;
	margin: .3em .1em .1em 0;
}

.container {
	width:100%;
	padding: 0;
	margin: 0;
}

.black {
	background-color: #000000;
	line-height: 3em;
}

.dark {
	background-color: #22313F;
	line-height: 3em;
}

.centered {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ovo', serif;
}

.black h1 {
	color: #FFFFFF;
}

.dark h1 {
	color: #ECECEC;
}

.exclude {
	font-family: sans-serif;
}