/* MUSI2040E Demo Images */
.card-square-greatlakes > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/1_greatlakes.jpg') center / cover;
}

.card-square-lakemichigan > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/2_lakemichigan.jpg') center / cover;
}

.card-wide-pecos > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/3_pecos.jpg') center / cover;
}

.card-square-pawnee > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/4_pawnee.png') center / cover;
}